/* ================ 
 Table of Contents 
 1. Global
 2. Typography
 3. Layout
 4. Styling
 5. Components
===================
*/

/*===== 
Global 
=======*/

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

/*===== 
Typography 
=======*/

h1 {
  color: #824936;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 900;
}

.h3--brown {
  color: #824936;
  text-align: center;
}

.h3--white {
  color: white;
  padding-top: 15px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1em;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}

/*===== 
Layout
=======*/

.flex-two {
  display: flex;
  flex-direction: column;
  height: 660px;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 1128px;
  width: 80%;
}

header {
  background-color: #F3EED9;
  min-height: 660px;
}

main {
  min-height: 420px;
  padding: 2.5rem 0;
  /* border: red solid 1px; */
}

.flex-one {
  display: flex;
  justify-content: space-around;
  /* border: white 5px solid; */
}

.flex-article {
  padding: 2rem 0 2rem;
  width: 45%;
}

.section {
  color: white;
  display: flex;
  min-height: 400px; /* only to center work area while building */
}

.section--dark {
  background-color: #222C2A;
}

.section--brown {
  background-color: #824936;
}

.flex-item {
  padding-top: 2rem;
  width: 45%;
}

.img-aside {
  align-self: center;
}

.first-pic {
  display: block;
  margin: 0 auto 35px;
  max-width: 100%;
}

.section-article p {
  padding-top: 1rem;
}

/*===== 
Media queries 
=======*/

/* (order: layout issue encountered as screen width is shrunk) */

@media screen and (max-width: 1235px) {

  .flex-one {
    flex-direction: column;
  }

  .section-article {
    text-align: center;
    align-self: center;
    
  }

  .flex-item {
    width: 100%;
  }

  .first-pic {
    width: 80%;
  }

  .flex-article {
    align-self: center;
    width: 100%;
  }

  /* to invert text / image order on mobile devices */
  .img-aside {
    order: 2;
  }
  .section-article {
    order: 1;
  }

} 

@media screen and (max-width: 750px) {
  h1 {
    font-size: 36px;
  }
}

